.navbar {
    color:white;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #0c837d;
    }
}

.green-bg{
    background-color:#0c837d;
}

.weight{
    font-weight: 800;
}

.green-color{
    background-color:#00acc1;
    color:white;
}
.green-color:hover{
    color:white;
}

.green-color:active{
    color:white;
}

.text-green{
    color:#0c837d;
}

html,
body,
.view {
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
}

.wow {
    visibility: hidden;
}